.header {
    height: inherit;
    width: 100%;
    background-color: #6f5499;
}
.container {
    height: 50px;
}
#info {
    width: 100%;
}
#tableWrapper {
    margin-top: 16px;
    margin-bottom: 16px;
}
.appLabel {
    color: white;
    margin-top: 10px;
}
.appLabelText {
    font-size: 16px;
}
.glyphicon-search {
    font-size: 26px;
    margin-right: 10px;
}
.wait {
    background-color: #77ff85;
}
.done {
    background-color: #c6c6c6;
}
.soon {
    background-color: #fffc7c;
}