.header {
    height: inherit;
    width: 100%;
    background-color: #337AB4;
}
.navbar-default {
    background-color: #337AB4;
}
.navbar-default .navbar-nav>li>a {
    color: white;
}
.navbar-default .navbar-brand {
    color: white
}

.menu-active {
    background-color: #e7e7e7;
}

.menu-active>a {
    color: #777 !important;
}

.button-block {
    margin-top: 10px;
}

.navbar-default .navbar-nav li:hover {
    background-color: #e7e7e7;
}
.container {
    height: 50px;
}
.removeAccBtn {
    height: 20px;
    padding: 0;
    width: 50px;
}
.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
#ttnList {
    width: 100%;
}
#tableWrapper {
    margin-top: 16px;
    margin-bottom: 16px;
}
.appLabel {
    color: white;
    margin-top: 10px;
}
.appLabelText {
    font-size: 16px;
}
.navbar-header .glyphicon-search {
    font-size: 26px;
    margin-right: 10px;
}
.wait {
    background-color: #77ff85;
}
.done {
    background-color: #c6c6c6;
}
.soon {
    background-color: #fffc7c;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: white;
}

/*For widgets*/
.hero-widget { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.hero-widget .icon { display: block; font-size: 78px; line-height: 96px; text-align: center; }
.hero-widget var { display: block; height: 64px; font-size: 64px; line-height: 64px; font-style: normal; }
.hero-widget label { font-size: 17px; }
.hero-widget .options { margin-top: 10px; }

.checkbox {
    padding-left: 20px; }
.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555; }
.checkbox input[type="checkbox"] {
    opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed; }
.checkbox.checkbox-circle label::before {
    border-radius: 50%; }
.checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f; }
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e; }
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff; }

.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff; }

.progress .val {
    float: right;
}
.progress {
    margin-bottom: 0;
}

.progress-bar-info {
    background-color: #337AB4;
}

.progress-bar {
    text-align: left;
    /*transition-duration: 3s;*/
}
#commonCost {
    font-size: 20px;
    text-align: right;
}

#statResult {
    font-size: 20px;
    text-align: center;
}

@media print {
    .noPrint {
        display: none !important;
    }
}